<div class="title-all text-center my-5">
    <h1>Reset Password</h1>
    <p>An e-mail has been sent to "<%= email %> " with the confirmation link.</p>
    <p>Please, confirm password reset.</p>
</div>