
<!-- Start All Title Box -->
<div class="all-title-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>My Account</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Shop</a></li>
                    <li class="breadcrumb-item active">My Account</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End All Title Box -->

<!-- Start My Account  -->
<div class="my-account-box-main">
    <div class="text-danger text-center">
        <%- include ('./partials/messages') %> 
    </div>
    <div class="title-all text-center mt-3">
        <h1>Welcome <%= user.name %></h1>
        <% if(user.admin){ %>
            <div>
                <img src="/images/admin.jpg" alt="admin">
            </div>
            <div class="mt-3">
                <a class="btn hvr-hover" href="/admin/product">List of Products in sale</a>
            </div>
        <% } %> 
    </div>
    <div class="title-all text-center mt-3 text-decoration-underline">
        <h2>Your email: <%= user.email %> </h2>
        <div class="review-form-box">
            <a class="btn hvr-hover" href="/users/email">Change Email</a>
        </div>
    </div>
    <div class="container">
        <div class="my-account-page">
            <div class="row">
                <div class="col-lg-4 col-md-12">
                    <div class="account-box">
                        <div class="service-box">
                            <div class="service-icon">
                                <a href="#"> <i class="fa fa-gift"></i> </a>
                            </div>
                            <div class="service-desc">
                                <h4>Your Orders</h4>
                                <p>Track, return, or buy things again</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="account-box">
                        <div class="service-box">
                            <div class="service-icon">
                                <a href="#"><i class="fa fa-lock"></i> </a>
                            </div>
                            <div class="service-desc">
                                <h4>Login &amp; security</h4>
                                <p>Edit login, name, and mobile number</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="account-box">
                        <div class="service-box">
                            <div class="service-icon">
                                <a href="#"> <i class="fa fa-location-arrow"></i> </a>
                            </div>
                            <div class="service-desc">
                                <h4>Your Addresses</h4>
                                <p>Edit addresses for orders and gifts</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="account-box">
                        <div class="service-box">
                            <div class="service-icon">
                                <a href="#"> <i class="fa fa-credit-card"></i> </a>
                            </div>
                            <div class="service-desc">
                                <h4>Payment options</h4>
                                <p>Edit or add payment methods</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="account-box">
                        <div class="service-box">
                            <div class="service-icon">
                                <a href="#"> <i class="fab fa-paypal"></i> </a>
                            </div>
                            <div class="service-desc">
                                <h4>PayPal</h4>
                                <p>View benefits and payment settings</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="account-box">
                        <div class="service-box">
                            <div class="service-icon">
                                <a href="#"> <i class="fab fa-amazon"></i> </a>
                            </div>
                            <div class="service-desc">
                                <h4>Amazon Pay balance</h4>
                                <p>Add money to your balance</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bottom-box">
                <div class="row">
                    <div class="col-lg-4 col-md-12">
                        <div class="account-box">
                            <div class="service-box">
                                <div class="service-desc">
                                    <h4>Gold &amp; Diamond Jewellery</h4>
                                    <ul>
                                        <li> <a href="#">Apps and more</a> </li>
                                        <li> <a href="#">Content and devices</a> </li>
                                        <li> <a href="#">Music settings</a> </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12">
                        <div class="account-box">
                            <div class="service-box">
                                <div class="service-desc">
                                    <h4>Handloom &amp; Handicraft Store</h4>
                                    <ul>
                                        <li> <a href="#">Advertising preferences </a> </li>
                                        <li> <a href="#">Communication preferences</a> </li>
                                        <li> <a href="#">SMS alert preferences</a> </li>
                                        <li> <a href="#">Message center</a> </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12">
                        <div class="account-box">
                            <div class="service-box">
                                <div class="service-desc">
                                    <h4>The Designer Boutique</h4>
                                    <ul>
                                        <li> <a href="#">Amazon Pay</a> </li>
                                        <li> <a href="#">Bank accounts for refunds</a> </li>
                                        <li> <a href="#">Coupons</a> </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12">
                        <div class="account-box">
                            <div class="service-box">
                                <div class="service-desc">
                                    <h4>Gift Boxes, Gift Tags, Greeting Cards</h4>
                                    <ul>
                                        <li> <a href="#">Leave delivery feedback</a> </li>
                                        <li> <a href="#">Lists</a> </li>
                                        <li> <a href="#">Photo ID proofs</a> </li>
                                        <li> <a href="#">Profile</a> </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12">
                        <div class="account-box">
                            <div class="service-box">
                                <div class="service-desc">
                                    <h4>Other accounts</h4>
                                    <ul>
                                        <li> <a href="#">Amazon Business registration</a> </li>
                                        <li> <a href="#">Seller account</a> </li>
                                        <li> <a href="#">Amazon Web Services</a> </li>
                                        <li> <a href="#">Login with Amazon</a> </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12">
                        <div class="account-box">
                            <div class="service-box">
                                <div class="service-desc">
                                    <h4>Shopping programs and rentals</h4>
                                    <ul>
                                        <li> <a href="#">Subscribe &amp; Save</a> </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mt-3 text-center">
                <!-- Button trigger modal -->
                <a class="btn hvr-hover" href="/users/delete" data-toggle="modal" data-target="#exampleModalCenter">
                    <i class="fas fa-trash-alt"></i>
                     Delete Account
                </a>
            </div>
            
            <!-- Modal -->
            <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header myModalTitle">
                            <h5 class="modal-title" id="exampleModalLongTitle">
                                <i class="fas fa-exclamation-triangle"></i>
                                    Warning!
                            </h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form action="/users/delete" method="post">
                            <div class="modal-body">
                                <h4>You are about to delete permanently your account! </h4>
                                
                                <label for="password" class="mb-0" required="true">Password:</label>
                                <input
                                class="form-control"
                                type="password"
                                name="password"
                                placeholder="Enter Password"
                                />
                                
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-danger">Delete Account</button>
                                <button type="button" class="btn hvr-hover" data-dismiss="modal">Abort</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End My Account -->
