<div class="d-flex justify-content-center my-5">
    <div class="col-4">
        <%- include ('./partials/messages') %>

        <form class="m-3 review-form-box" id="formRegister" action="/users/password" method="POST">
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label for="email" class="mb-0">Your Email</label>
                    <input
                    class="form-control"
                    type="email"
                    name="email"
                    placeholder="Enter Email"
                    value="<%= typeof email != 'undefined' ? email : '' %>"
                    />
                </div>
            </div>
            <button type="submit" class="btn hvr-hover">Reset Password</button>
        </form>
    </div>
</div>